@import "tailwindcss";

@theme {
  --color-navy-50: #f2f6fa;
  --color-navy-100: #e1ecf3;
  --color-navy-800: #0f2c59;
  --color-navy-900: #07162c;

  --color-gold-100: #fdfcf0;
  --color-gold-500: #D4AF37;
  --color-gold-600: #b8962f;
}